<head> 
<title>Welcome to unsensational!</title>
</head>

<h1>We like it unsensational!</h1>
	<p><%= link_to "Go to your daily breifing (view all articles)", '/items' %></p>
	<p><%= link_to "Submit a new article", '/items/new' %></p>
	<p><%= link_to "Sign up now!", 'users/new' %></p>
