<head> 
<title>Welcome to unsensational!</title>
</head>

<h1>We like it unsensational!</h1>
	<p><a href="/items">List of Items</a></p>
	<p><em>Goes Away: </em><a href="/users">List of Users</a></p>
	<p><em>Goes Away: </em><a href="/criteria">List of Criteria</a></p>
	<p><em>Goes Away: </em><a href="/ratings">List of Ratings</a></p>