<head> 
<title>Welcome to unsensational!</title>
</head>

<h1>We like it unsensational!</h1>
	<p><%= link_to "Go to the newsfeed", '/items' %></p><br>
	<p><em><%= link_to "Login", 'signin' %></em> or <%= link_to "Sign up now!", 'signup' %></p>
