body {
	background: #ddd;
	font-family: Helvetica, Arial, Verdana;
}

header {
	padding-top: 0px;
}

header img {
	padding: 1em 1em 0 1em;
}

section {
	font-size: 90%;
	padding: 0px 20px 20px 20px;
}

section h1 {
	font-size: 175%;
	color: #333;
}

footer {
	text-align: left;
}

.container {
    left: 50%;
    margin: 0 auto;
	width: 800px;
	background: #fff;
	border-radius: 12px;
	padding: 10px 10px 50px 10px;
}

.deadlinks {
    color: #fff;
	font-size: 75%;
	letter-spacing: 0.5px;
	padding: 5px;
}

footer .deadlinks {
	float: right;
}

/* Links */

a {
	color: #666;
    text-decoration: none;
}

a:hover {
	color: #069;
	text-decoration: underline;
}

.deadlinks a:link {
	background-color: #999;
    text-decoration: none;
    color: #fff;
    padding: 5px 12px;
    text-align: center; 
    display: inline-block;

    border-radius: 10px;
}

.deadlinks a:hover {
	background-color: #ed2062;
}

.deadlinks a:visited {
	color: #fff;
}
